* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-brand {
  margin-left: 0px !important;
}

footer {
  background-color: rgb(24, 48, 83);
  padding-top: 30px;
}
footer .col-12 {
  margin: 0px 0px 20px;
  padding: 0px 30px;
}
footer .col-12 h5, footer .col-12 p {
  color: white;
}
footer .col-12 h5 {
  font-weight: bold;
  margin-bottom: 20px;
}
footer .col-12 p {
  margin-bottom: 10px;
  color: rgba(167, 167, 167, 0.826);
}
footer .col-12 .link-info {
  display: flex;
}
footer .col-12 .link-info a {
  display: flex;
  color: white;
  font-size: 30px;
}
footer .last {
  border-top: 1px solid white;
  text-align: center;
  padding: 10px 0px;
}
footer .last span {
  color: white;
  font-size: 11px;
}

#blog-header {
  height: 400px;
  background-image: url("../img/bl1.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog-header .container {
  position: absolute;
  top: 60%;
  left: 0px;
  width: 100%;
  padding: 0px 50px;
}
#blog-header .container h1,
#blog-header h6 {
  color: white;
}
#blog-header .container h1 {
  font-weight: bold;
  font-size: 50px;
}
#blog-header .container h6 {
  margin-top: 30px;
}

.list-post-contain {
  margin: 20px auto;
}
.list-post-contain a {
  text-decoration: none;
  color: black;
}
.list-post-contain .list-post-item {
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  transition: 0.5s;
}
.list-post-contain .list-post-item:hover {
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list-post-contain .list-post-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
}
.list-post-contain .list-post-item .list-post-date {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 60px;
}
.list-post-contain .list-post-item .list-post-date span {
  color: white;
  text-align: center;
  font-weight: bold;
}
.list-post-contain .list-post-item .list-post-date span:first-child {
  background-color: rgb(18, 138, 231);
  display: block;
  padding: 5px;
  font-size: 25px;
}
.list-post-contain .list-post-item .list-post-date span:last-child {
  background-color: rgb(15, 66, 133);
  display: block;
  font-size: 10px;
  padding: 5px 0px;
}
.list-post-contain .list-post-item .list-post-info {
  padding: 18px 30px;
}
.list-post-contain .list-post-item .list-post-info h3 {
  font-size: 14px;
  font-weight: bold;
}
.list-post-contain .list-post-item .list-post-info div p {
  margin: 0;
  margin-bottom: 0px;
  margin-right: 10px;
}
.list-post-contain .list-post-item .list-post-info div i {
  color: rgb(24, 124, 225);
  font-size: 10px;
}
.list-post-contain .list-post-item .list-post-info div span {
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
}
.list-post-contain .list-post-item .list-post-info .list-post-info-p {
  margin-top: 10px;
  font-size: 13px;
  color: rgba(57, 57, 57, 0.82);
}
.list-post-contain nav {
  margin-top: 40px;
}
.list-post-contain nav .pagination-post {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0px;
  align-items: center;
}
.list-post-contain nav li {
  margin: 0px 5px;
}
.list-post-contain nav li.page-num {
  margin: 0px 7px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.list-post-contain nav li.page-num:hover {
  background-color: rgb(42, 105, 173);
  cursor: pointer;
}
.list-post-contain nav li.page-num:hover a {
  color: white;
}
.list-post-contain nav li a {
  text-decoration: none;
  font-size: 13px;
}

.recent-post-contain form div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.recent-post-contain form div input,
.recent-post-contain form div button {
  padding: 8px;
  font-size: 12px;
  border-radius: 1px;
  border: none !important;
}
.recent-post-contain form div button {
  color: white;
  background-color: rgb(30, 172, 216);
}
.recent-post-contain .recent-post {
  margin: 0 15px;
}
.recent-post-contain .recent-post h3 {
  font-size: 18px;
}
.recent-post-contain .recent-post a {
  text-decoration: none;
}
.recent-post-contain .recent-post a .recent-post-item {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  position: relative;
}
.recent-post-contain .recent-post a .recent-post-item .img {
  margin: 0px;
}
.recent-post-contain .recent-post a .recent-post-item .description {
  margin: 0px 10px;
}
.recent-post-contain .recent-post a .recent-post-item img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.recent-post-contain .recent-post a .recent-post-item p {
  color: rgba(128, 128, 128, 0.548);
  font-size: 11px;
  margin-bottom: 2px;
}
.recent-post-contain .recent-post a .recent-post-item h5 {
  font-size: 12px;
  margin-bottom: 0px;
  color: black;
}
.recent-post-contain .recent-post a .recent-post-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 110%;
  left: 0%;
  height: 5px;
  width: 0%;
  background-color: rgb(67, 161, 228);
  transition: 0.5s;
}
.recent-post-contain .recent-post a .recent-post-item:hover:after {
  width: 100%;
}

.contact-map {
  margin-top: 70px;
  margin-bottom: 100px;
}
.contact-map iframe {
  display: block;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.write-us {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.write-us h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 13px;
}
.write-us h2 + p {
  position: relative;
}
.write-us h2 + p:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 6px;
  border-radius: 4px;
  left: auto;
  top: 11.5px;
  transition: all;
  background-color: rgb(55, 156, 244);
  margin-left: 20px;
}
.write-us p {
  font-weight: 500;
  color: gray;
}
.write-us .row div {
  margin-bottom: 19px;
}
.write-us .row div label {
  display: block;
  margin-bottom: 10px;
}
.write-us .row div input, .write-us .row div textarea {
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.write-us .row div input:focus, .write-us .row div textarea:focus {
  border: 1px solid rgb(0, 145, 255);
}

.contacts {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 70px;
}
.contacts h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 13px;
}
.contacts h2 + p {
  position: relative;
}
.contacts h2 + p:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 6px;
  border-radius: 4px;
  left: auto;
  top: 11.5px;
  transition: all;
  background-color: rgb(55, 156, 244);
  margin-left: 20px;
}
.contacts p {
  font-weight: 500;
  color: gray;
  position: relative;
}
.contacts .d-flex {
  margin-bottom: 7px;
}
.contacts .d-flex b, .contacts .d-flex p {
  margin: 0px;
  white-space: nowrap;
}
.contacts .d-flex b {
  margin-right: 5px;
}
.contacts .d-flex p {
  margin-left: 5px;
}
.contacts .d-flex hr {
  margin: 18px 5px 5px 5px;
  width: 90%;
  margin-top: 16px;
  border-top: 1px dotted;
  background: none;
  opacity: 0.7;
}
.contacts .contact-link {
  display: flex;
}
.contacts .contact-link a {
  margin: 0;
  width: 45px;
  height: 45px;
  border: 1px solid rgb(41, 110, 206);
  line-height: 45px;
  display: flex;
  font-size: 20px;
  color: rgb(60, 103, 210);
  transition: all 0.5s;
}
.contacts .contact-link a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.contacts .contact-link a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
.contacts .contact-link a:hover {
  background-color: rgb(41, 110, 206);
  color: white;
}/*# sourceMappingURL=main.css.map */