footer{
    background-color: rgb(24, 48, 83);
    padding-top: 30px;
    .col-12{
        margin: 0px 0px 20px;
        padding: 0px 30px;
        h5,p{
            color: white;
        }
        h5{
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 10px;
            color: rgba(167, 167, 167, 0.826);
        }
        .link-info{
            display: flex;
            a{
                display: flex;
                color: white;
                font-size: 30px;
            }
        }
    }
    .last{
        border-top: 1px solid white;
        text-align: center;
        padding: 10px 0px;
        span{
            color:white;
            font-size: 11px;

        }
    }
}