.home{
    .history{
        margin-bottom:50px;
        h3{
            text-align: center;
            color: rgb(0, 177, 0);
            margin: 70px auto 45px;
            font-weight: lighter;
        }
        p{
            max-width: 700px;
            text-align: justify;
            margin: 0 auto;
            font-weight: 200;
            margin-bottom: 15px;
        }
    }
}